@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.strong-text {
    display: inline-block;
    color: #333333;
    font-weight: 700;
}

.costumGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}

/* .modal {
    position: 'fixed';
    top: '50%';
    left: '50%',;
    transform: 'translate(-50%, -50%)';
    background-color: 'white';
    padding: '20px';
    z-index: 1000;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust as needed */
}

textarea {
    resize: none;
}

/* Add this CSS to your stylesheets */
@media (max-width: 768px) { /* You can adjust the breakpoint to your needs */
    .input-container label {
      display: none; /* Hide the label */
    }
  }